<!DOCTYPE html>
<html lang="fr">
<div id="html" class=""></div>

<head>
	<title>Parfumerie Mireille</title>
</head>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="mycss8.css") }}'>
<link rel='stylesheet' type='text/css' href='C:/Users/ggpro/Desktop/Parfumerie upgrade process CE/static/mycss8.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<body>
	<div class="topOnglets">
		<a class="onglet" href="/suivi/{{user}}" onclick="attente()">Suivi de commandes</a>
		<a class="onglet" href="/start/{{user}}" onclick="attente()">Traitements</a>
		<a class="onglet" href="/choixCE/{{user}}" onclick="attente()">1. Préparer</a>
		<a class="onglet" href="/reliquats/{{user}}" onclick="attente()">2. Reliquats</a>
		<a class="onglet" href="/choixLot/{{user}}" onclick="attente()">3. Facturer</a>
		<a class="onglet" href="/paiements/{{user}}" onclick="attente()">4. Paiements</a>
		<a class="onglet" href="/livraison/{{user}}" onclick="attente()">5. Livraison</a>
		<a class="ongletActif" href="/CE/{{user}}" onclick="attente()">CE</a>
		<a class="onglet" href="/logout" onclick="attente()" >
			<button class="invisible" type="button" data-hover="Se Déconnecter"
				data-active="Se Déconnecter">
				<span><i class="fas fa-user span" style="padding-right:10px"></i>{{session['user']['username']}}</span>
			</button>
		</a>
	</div>
	<div align="center" class="topnav">
        <a href="/ajoutCE/{{user}}" onclick="attente()">Ajout CE</a>
        <a href="/rechercheCE/{{user}}" onclick="attente()">Recherche CE</a>
		<a href="/CE/{{user}}" onclick="attente()">Listing CE</a>
		<a href="/infoCE/{{user}}" onclick="attente()">Informations facturations CE</a>
		<a class="active" href="/adresseCE/{{user}}" onclick="attente()">Adresses CE</a>

	</div>
	<div style="margin-bottom: 20px;">
		<div class="center">
			<form action="/adresseCE/{{user}}" method="POST" style="display: inline;">
				<input type="hidden" name="ref" id="ref" value="{{listeAll[0]['id']}}">
				<button onclick="attente()" {%if ref==None %} class="AllRefSel" {%else%} class="AllRef"
					{%endif%}>{{listeAll[0]['prenom']}}</button>
			</form>
			{% for liste in listeRef %}
			<form action="/adresseCE/{{user}}" method="POST" style="display: inline;">
				<input type="hidden" name="ref" id="ref" value="{{liste['id']}}">
				<button value="{{liste['id']}}" onclick="attente()" {% if ref==liste['id'] %} class="Ref2Sel" {% else %}
					class="Ref2" {%endif%}>{{liste['prenom']}}</button>
			</form>
			{% endfor %}
		</div>
	</div>
	<table align="center" class="tabCE">
		<th class="thHistCE thP2">N° de CE</th>
		<th class="thHistCE thGG">Nom du CE</th>
		<th class="thHistCE thMoy2">Référente</th>
		<th class="thHistCE ">Adresse</th>
		<th class="thButton"></th>

		{% for CE in LCE %}
		<tr id="{{CE['id']}}" class="trCE">
			<td id="idCE{{CE['id']}}" class="textInfoCE thP2" type="number" value="{{CE['idCE']}}">{{CE['idCE']}}</td>
			<td id="entreprise{{CE['id']}}" class="textInfoCE thGG" type="text" value="{{CE['entreprise']}}">
				{{CE['entreprise']}}</td>
			<td id="ref{{CE['id']}}" class="textInfoCE thMoy2" type="text" value="{{CE['referente']}}">{{CE['prenom']}}
			</td>
			<td><input id="adresse{{CE['id']}}" class="inputCE" style="width: 95%;cursor: pointer;" type="text"
					value="{{CE['adresse']}}"></td>
			<td class="tdButton"><button id="{{CE['id']}}" class="selectBt" onclick="update(this)">VALIDER</button></td>
		</tr>
		{% endfor %}
	</table>
	<br>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

	function update(t) {
		const id = t.id;
		var ref = document.getElementById(`ref${id}`).value;
		var adresse = document.getElementById(`adresse${id}`).value;
		alert("Changement(s) pris en compte");
		req = jQuery.ajax({
			url: '/modifCEAdresse',
			type: 'POST',
			data: { ref: ref, adresse: adresse, id: id }
		});
		$(`[id=${id}]`).fadeOut(1000).fadeIn(1000);
	}
	function attente() {
		var element = document.getElementById("html");
		element.className = "attente";
	}
</script>

</html>