<!DOCTYPE html>
<html lang="fr">
<div id="html" class=""></div>

<head>
    <title>Parfumerie Mireille</title>
</head>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="mycss8.css") }}'>
<link rel='stylesheet' type='text/css' href='C:/Users/ggpro/Desktop/Parfumerie upgrade process CE/static/mycss8.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<body>
    <div class="topOnglets">
        <a class="onglet" href="/suivi/{{user}}" onclick="attente()">Suivi de commandes</a>
        <a class="onglet" href="/start/{{user}}" onclick="attente()">Traitements</a>
        <a class="onglet" href="/choixCE/{{user}}" onclick="attente()">1. Préparer</a>
        <a class="onglet" href="/reliquats/{{user}}" onclick="attente()"> 2. Reliquats</a>
        <a class="onglet" href="/choixLot/{{user}}" onclick="attente()">3. Facturer</a>
        <a class="onglet" href="/paiements/{{user}}" onclick="attente()">4. Paiements</a>
        <a class="onglet" href="/livraison/{{user}}" onclick="attente()">5. Livraison</a>
        <a class="ongletActif" href="/CE/{{user}}" onclick="attente()">CE</a>
        <a class="onglet" href="/logout" onclick="attente()" >
            <button class="invisible" type="button" data-hover="Se Déconnecter" data-active="Se Déconnecter">
                <span><i class="fas fa-user span" style="padding-right:10px"></i>{{session['user']['username']}}</span>
            </button>
        </a>
    </div>
    <div align="center" class="topnav">
        <a href="/ajoutCE/{{user}}" onclick="attente()">Ajout CE</a>
        <a href="/rechercheCE/{{user}}" onclick="attente()">Recherche CE</a>
        <a class="active" href="/CE/{{user}}" onclick="attente()">Listing CE</a>
        <a href="/infoCE/{{user}}" onclick="attente()">Informations facturations CE</a>
        <a href="/adresseCE/{{user}}" onclick="attente()">Adresses CE</a>

    </div>

    <!-- <div class="containAddCeCe">
        <table align="center" class="tabCE">
            <tr class="trAjout">
                <form action="/ajoutCE/{{user}}" method="post">
                    <td><input name="nouvidCE" class="inputadd" type="number" placeholder="ID CE" min="900000" required></td>
                    <td><input name="entreprise" class="inputadd" type="text" placeholder="Entreprise"></td>
                    <td><select name="referente" id="ref" class="selectRef" placeholder="Referente">
                            {% for ref in listeRef%}
                            <option value="{{ref['id']}}">{{ref['prenom']}}</option>
                            {%endfor%}
                            {% for ref in listeAll%}
                            <option value="{{ref['id']}}">{{ref['prenom']}}</option>
                            {%endfor%}
                        </select></td>
                    <td><input name="inter" class="inputadd" type="text" id="inter" placeholder="Intermédiaire"></td>
                    <td><input name="mail" class="inputadd" type="text" placeholder="Mail"></td>
                    <td><input name="tel" class="inputadd" type="text" placeholder="Tel"></td>
            </tr>
        </table>
        <button class="addCE">AJOUTER UN CE</button>
        </form> -->
        <div style="margin: 20px;">
            <div class="center">
                <form action="/CE/{{user}}" method="POST" style="display: inline;">
                    <button onclick="attente()" {%if ref==None %} class="AllRefSel" {%else%} class="AllRef"
                        {%endif%}>{{listeAll[0]['prenom']}}</button>
                </form>
                {% for liste in listeRef %}
                <form action="/CE/{{user}}" method="POST" style="display: inline;">
                    <input type="hidden" name="ref" id="ref" value="{{liste['id']}}">
                    <button onclick="attente()" value="{{liste['id']}}" {% if ref==liste['id'] %} class="Ref2Sel" {%
                        else %} class="Ref2" {%endif%}>{{liste['prenom']}}</button>
                </form>
                {% endfor %}
            </div>
        </div>
        <table align="center" class="tabCE">
            <th class="thButtonCE"></th>
            <th class="thHistCE thMoy1">Numéro de CE</th>
            <th class="thHistCE thGG">Nom du CE</th>
            <th class="thHistCE thMoy2">Référente</th>
            <th class="thHistCE thGG">Intermédiaire</th>
            <th class="thHistCE thGG">Mail</th>
            <th class="thHistCE thMoy2">Tel</th>
            <th class="thHistCE thP">Mail Auto Client</th>
             <th class="thHistCE thMoy2">
                <table align="center" class="sousTab">
                    <tr>
                        <td colspan="5">Mail Auto CE</td>
                    </tr>   
                    <tr >
                        <td style="writing-mode: vertical-rl;background-color:rgb(90, 90, 90);border-radius: 5px;font-size: 12px;font-weight: normal;">Préparation</td>
                        <td style="writing-mode: vertical-rl;background-color:green;border-radius: 5px;font-size: 12px;font-weight: normal;">Facturée</td>
                        <td style="writing-mode: vertical-rl;background-color:rgb(181, 118, 0);border-radius: 5px;font-size: 12px;font-weight: normal;">Fact + Reliquat</td>
                        <td style="writing-mode: vertical-rl;background-color:purple;border-radius: 5px;font-size: 12px;font-weight: normal;">Reliquat</td>
                        <td style="writing-mode: vertical-rl;background-color:red;border-radius: 5px;font-size: 12px;font-weight: normal;">Rupture</td>
                        </tr>
                </table>
            </th>
            <th class="thButton"></th>
            {% for CE in LCE %}
            <tr id="{{CE['id']}}" class="trCE">
                <td class="tdButton"><button id="{{CE['id']}}" onclick="deleteFun(this)" class="suprCircle">X</button>
                </td>
                <td><input id="nouvidCE{{CE['id']}}" class="inputCE thMoy1" type="number" value="{{CE['idCE']}}"
                        style="cursor: pointer;" required></td>
                <td><input id="entreprise{{CE['id']}}" class="inputCE thGG" type="text" value="{{CE['entreprise']}}"
                        style="cursor: pointer;"></td>
                <td><select id="ref{{CE['id']}}" class="inputCE thMoy2" type="text" value="CE['referente']"
                        style="cursor: pointer;">
                        {% for x in listeRef %}
                        <option value="{{x['id']}}" {% if CE['prenom']==x['prenom'] %} selected {%endif%}>
                            {{x['prenom']}}</option>
                        {% endfor %}
                        {% for x in listeAll %}
                        <option value="{{x['id']}}" {% if CE['prenom']==x['prenom'] %} selected {%endif%}>
                            {{x['prenom']}}</option>
                        {% endfor %}
                    </select></td>
                <td><input id="inter{{CE['id']}}" class="inputCE thGG" type="text" value="{{CE['intermediaire']}}"
                        style="cursor: pointer;"></td>
                </td>
                <td><input id="mail{{CE['id']}}" class="inputCE thGG" type="text" value="{{CE['mail']}}"
                        style="cursor: pointer;"></td>
                <td><input id="tel{{CE['id']}}" class="inputCE thMoy2" type="text" value="{{CE['tel']}}"
                        style="cursor: pointer;"></td>
                <td>
                    <table align="center" class="sousTab">
                        <tr>
                            <td>{%if CE['mailCl']==1%}
                                <input id="mailCl{{CE['id']}}" class="inputCE" type="checkbox" style="cursor: pointer;background-color: brown;"
                                    checked>
                                {%else%}
                                <input id="mailCl{{CE['id']}}" class="inputCE" type="checkbox" style="cursor: pointer;">
                                {%endif%}
                            </td>
                        </tr>
                    </table>
                <td>
                    <table align="center" class="sousTab">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <tr>
                            <td>
                                {%if CE['mailInterPrep']==1%}
                                <input id="mailInterPrep{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer; accent-color: rgb(90, 90, 90);" checked>
                                {%else%}
                                <input id="mailInterPrep{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: rgb(90, 90, 90)">
                                {%endif%}
                            </td>
                        
                            <td>
                                {%if CE['mailInterFact']==1%}
                                <input id="mailInterFact{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: green;" checked>
                                {%else%}
                                <input id="mailInterFact{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: green;">
                                {%endif%}
                            </td>
                            <td>
                                {%if CE['mailInterRelFact']==1%}
                                <input id="mailInterRelFact{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: rgb(181, 118, 0);" checked>
                                {%else%}
                                <input id="mailInterRelFact{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: rgb(181, 118, 0);">
                                {%endif%}
                            </td>
                            <td>
                                {%if CE['mailInterRel']==1%}
                                <input id="mailInterRel{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: purple;" checked>
                                {%else%}
                                <input id="mailInterRel{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: purple;">
                                {%endif%}
                            </td>
                            <td>
                                {%if CE['mailInterRupt']==1%}
                                <input id="mailInterRupt{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: red;" checked>
                                {%else%}
                                <input id="mailInterRupt{{CE['id']}}" class="inputCE" type="checkbox"
                                    style="cursor: pointer;accent-color: red;">
                                {%endif%}
                            </td>
                        </tr>
                    </table>
                </td>

                <td class="tdButton"><button id="{{CE['id']}}" class="selectBt" onclick="update(this)">VALIDER</button>
                </td>

            </tr>
            {% endfor %}
        </table>
        <br>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function deleteFun(t) {
        const id = t.id;
        var r = confirm("Confirmez-vous la suppression?");
        if (r == true) {
            req = jQuery.ajax({
                url: '/suprCE',
                type: 'POST',
                data: { id: id }
            });
            $(`[id=${id}]`).children('td')
                .animate({ padding: 0 })
                .wrapInner('<div />')
                .children()
                .slideUp(function () { $(this).closest('tr').remove(); });
        }
    }

    function update(t) {
        const id = t.id;
        var ref = document.getElementById(`ref${id}`).value;
        var nouvidCE = document.getElementById(`nouvidCE${id}`).value;
        if (nouvidCE==="" || nouvidCE<900000){
            alert("Le numéro du CE est incorrect ! Si vous n'avez plus besoin du CE supprimez-le !");
        }
        else{
            var entreprise = document.getElementById(`entreprise${id}`).value;
            var mail = document.getElementById(`mail${id}`).value;
            var inter = document.getElementById(`inter${id}`).value;
            var tel = document.getElementById(`tel${id}`).value;
            var mailCl = document.getElementById(`mailCl${id}`).checked;
            var mailInterPrep = document.getElementById(`mailInterPrep${id}`).checked;
            var mailInterFact = document.getElementById(`mailInterFact${id}`).checked;
            var mailInterRelFact = document.getElementById(`mailInterRelFact${id}`).checked;
            var mailInterRel = document.getElementById(`mailInterRel${id}`).checked;
            var mailInterRupt = document.getElementById(`mailInterRupt${id}`).checked;
            alert("Changement(s) pris en compte");
            req = jQuery.ajax({
                url: '/modifCE',
                type: 'POST',
                data: { id: id, nouvidCE: nouvidCE, entreprise: entreprise, mail: mail, ref: ref, inter: inter, tel: tel, mailCl: mailCl, mailInterPrep: mailInterPrep,mailInterFact:mailInterFact,mailInterRelFact:mailInterRelFact,mailInterRel:mailInterRel,mailInterRupt:mailInterRupt}
            });
            $(`[id=${id}]`).fadeOut(1000).fadeIn(1000);
        }
    }
    function attente() {
        var element = document.getElementById("html");
        element.className = "attente";
    }
</script>

</html>