<!DOCTYPE html>
<html lang="fr">
<div id="html" class=""></div>

<head>
    <title>Parfumerie Mireille</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="darkworld.css") }}'>

<body>
    <div class="bienvenue">Mode Administrateur</div>
    <div class='mdp'>Mot de passe</div>
    <input type="password" id="mdp">
    <button onclick="check_mdp()" class="btValid" onclick="attente()">Valider</button>
    <form id="start" action="/corbeille"></form>
</body>
<script>

    function check_mdp() {
        var mdp = document.getElementById("mdp").value;
        if (mdp == "jpcorp") {
            document.forms["start"].submit();
        }
        else {
            alert("Mot de passe erroné")
        }
    }
    function attente() {
        var element = document.getElementById("html");
        element.className = "attente";
    }
</script>

</html>