<!DOCTYPE html>
<html lang="fr">
<div id="html" class=""></div>

<head>
    <title>Parfumerie Mireille</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="darkworld.css") }}'>

<body>
    <div class="topOnglets">
        <a class="onglet" href="/utilisateurs" onclick="attente()">Utilisateurs</a>
        <a class="ongletActif" href="/corbeille" onclick="attente()">Corbeille</a>
		<a class="onglet" href="/export_de_donnees" onclick="attente()">Export de Données</a>
        <a class="onglet" href="/stat" onclick="attente()">Statistiques</a>
        <a class="onglet" href="/clients" onclick="attente()">Clients</a>
        <a class="onglet" href="/logout">
            <button class="invisible" onclick="attente()" type="button" data-hover="Se Déconnecter"
                data-active="Se Déconnecter">
                <span><i class="fas fa-user span" style="padding-right:10px"></i>{{session['user']['username']}}</span>
            </button>
        </a>
    </div>
    <br>
    <div align="center" class="topnav">
        <a href="/corbeille" onclick="attente()">Commandes</a>
        <a class="active" href="/corbCE" onclick="attente()">Corbeille CE</a>
    </div>
    <form action="/login">
        <button class="btQuiT" onclick="attente()">QUITTER</button>
    </form>

    <form action="/actionCorbCE" method="POST">
        <button class="BtSuppr" name="action" value="0" onclick="attente()">Supprimer</button>
        <button class="BtRest" name="action" value="1" onclick="attente()">Restaurer</button>

        <table align="center" class="corbTab">
            <th class="thPetit"><input type="checkbox" onclick="selectAll(this.id)" id="all"></th class="thCorb">
            <th class="thCorb">ID CE</th>
            <th class="thCorb">Entreprise</th>
            <th class="thCorb">Intermédiaire</th>

            {%for ce in Lce%}
            <tr class="trCorbCmd">
                <td class="tdCB"><input type="checkbox" name="check" value="{{ce['id']}}"></td>
                <td>
                    {{ce["idCE"]}}
                </td>
                <td>
                    {{ce["entreprise"]}}
                </td>
                <td>
                    {{ce["intermediaire"]}}
                </td>
            </tr>

            {%endfor%}

        </table>
    </form>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

    function selectAll(t) {
        var all = document.getElementById(t);
        var items = $('input[name^=check]')
        if (all.checked) {
            for (var i = 0; i < items.length; i++) {
                items[i].checked = true;
            }
        }
        else {
            for (var i = 0; i < items.length; i++) {
                items[i].checked = false;
            }
        }
    }
    function attente() {
        var element = document.getElementById("html");
        element.className = "attente";
    }

</script>

</html>