<!DOCTYPE html>
<html lang="fr">
<div id="html" class=""></div>

<head>
	<title>Parfumerie Mireille</title>
</head>
<link rel='stylesheet' type='text/css' href='{{url_for("static",filename="cssLoadPage.css")}}'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<body>
	<table class="label" align="center">
		<tr>
			<td><img class="im" src='{{url_for("static",filename="pb.jpg")}}'></td>
			<td>Bienvenue sur Extractor<p>CSE Parfums</p>
			</td>
			<td><img class="im" src='{{url_for("static",filename="jpcorp2.png")}}'></td>
		</tr>
	</table>
	<div class="bienvenue">Bonjour {{user['prenom']}}, </div>
	<div align="center">
		<table class="table">
			<th>Nom</th>
			<th>Prénom</th>
			<th>Mail</th>
			<tr>
				<td>{{user['nom']}} </td>
				<td>{{user['prenom']}}</td>
				<td>{{user['mail']}}</td>
			</tr>
		</table>
	</div>

	<form action="/validerMDP" method="post">
		<div align="center">
			<table class="table">
				<tr>
					<td class="td-input">
						<input type="password" class="input" name="mdp" id="mdp" placeholder="Mot de passe" required />
					</td>
				</tr>
				<tr>
					<td class="td-input">
						<div>
							<input type="password" class="input" name="mdpConfirme" id="mdpConfirme"
								placeholder="Confirmer mot de passe" required />
						</div>
					</td>
				</tr>
				<tr>
					<td align="center"><input type="submit" class="btValider" onclick="attente()"
							value="Valider" /><input type='hidden' name='idMDP' value="{{user['id']}}"></td>
				</tr>
			</table>
		</div>

	</form>
	{% with messages= get_flashed_messages() %}
	{% if messages %}
	<ul class="flashes">
		{% for message in messages%}
		<li class="txt">{{message}}</li>
		{%endfor%}
	</ul>
	{%endif%}
	{%endwith%}
</body>

</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>


	var password = document.getElementById("mdp")
		, confirm_password = document.getElementById("mdpConfirme");

	function validatePassword() {
		if (password.value != confirm_password.value) {
			confirm_password.setCustomValidity("Les mots de passe ne sont pas identiques");
		} else {
			confirm_password.setCustomValidity('');
		}
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;

	function attente() {
		var element = document.getElementById("html");
		element.className = "attente";
	}
</script>