<!DOCTYPE html>
<html lang="fr">
<div id="html" class=""></div>

<head>
	<title>Parfumerie Mireille</title>
</head>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="mycss8.css") }}'>
<link rel='stylesheet' type='text/css' href='C:/Users/ggpro/Desktop/Parfumerie upgrade process CE/static/mycss8.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<body>
	<div class="topOnglets">
		<a class="onglet" href="/suivi/{{user}}" onclick="attente()">Suivi de commandes</a>
		<a class="onglet" href="/start/{{user}}" onclick="attente()">Traitements</a>
		<a class="onglet" href="/choixCE/{{user}}" onclick="attente()">1. Préparer</a>
		<a class="onglet" href="/reliquats/{{user}}" onclick="attente()">2. Reliquats</a>
		<a class="onglet" href="/choixLot/{{user}}" onclick="attente()">3. Facturer</a>
		<a class="onglet" href="/paiements/{{user}}" onclick="attente()">4. Paiements</a>
		<a class="ongletActif" href="/livraison/{{user}}" onclick="attente()">5. Livraison</a>
		<a class="onglet" href="/CE/{{user}}" onclick="attente()">CE</a>
		<a class="onglet" href="/logout">
			<button onclick="attente()" class="invisible" type="button" data-hover="Se Déconnecter"
				data-active="Se Déconnecter">
				<span><i class="fas fa-user span" style="padding-right:10px"></i>{{session['user']['username']}}</span>
			</button>
		</a>
	</div>
	<div align="center" class="topnav">
		<a class="active" href="/livraison/{{user}}" onclick="attente()">Choix du CE</a>
		<a href="/visuLivraison/{{user}}" onclick="attente()">Commandes à livrer</a>
		<a href="/histLivraison/{{user}}" onclick="attente()">Historique des livraisons</a>
	</div>
	<br>

	<div class="center">
		<form action="/livraison/{{user}}" method="POST" style="display: inline;">
			<button onclick="attente()" {%if ref==None %} class="AllRefSel" {%else%} class="AllRef"
				{%endif%}>{{listeAll[0]['prenom']}}</button>
		</form>
		{% for liste in listeRef %}
		<form action="/livraison/{{user}}" method="POST" style="display: inline;">
			<input type="hidden" name="ref" id="ref" value="{{liste['id']}}">
			<button onclick="attente()" value="{{liste['id']}}" {% if ref==liste['id'] %} class="Ref2Sel" {% else %}
				class="Ref2" {%endif%}>{{liste['prenom']}}</button>
		</form>
		{% endfor %}
	</div>


	<br><br>
	<div>
		<table align="center" class="tabHist">
			<th class="thHistLiv">Numéro de CE</th>
			<th class="thHistLiv">Nom du CE</th>
			<th class="thHistLiv">Commandes Facturées</th>
			<th class="thHistLiv">Commandes en cours de Facturation</th>
			<th class="thHistLiv">Ancienneté</th>
			<th class="thHistLiv">Référente</th>

			{% set i=namespace(value=0) %}
			{% for CE in listCE %}
			{%if idCE != CE["idCE"]%}
			<tr class="trLiv">
				{%else%}
			<tr class="trSelected">
				{%endif%}

				<td>{{CE["idCE"]}}</td>
				<td>{{CE["entreprise"]}}</td>
				<td>{{nbClientRe[i.value]}}</td>
				<td>{{nbClientAtion[i.value]}}</td>
				<td {% if dateLim>minDate[i.value] %} style="color:red;font-weight: bold;"
					{%else%} style="color:black" {%endif%}>{{minDate[i.value]}}</td>
				<td>{{CE["prenom"]}}</td>
				{%if idCE != CE["idCE"]%}
				<form action="/selectLivraison/{{user}}" method="post">
					<input type='hidden' name='idCE' value="{{CE['idCE']}}">
					<td class="tdButton"><button class="selectBt" onclick="attente()">VISUALISER</button></td>
				</form>
				{%else%}
				<td class="tdSelected"><span class="select">Sélectioné</span></td>
				{%endif%}
			</tr>
			{% set i.value=i.value+1 %}
			{% endfor %}
		</table>
	</div>
	<br>
</body>

</html>
<script>
	function attente() {
		var element = document.getElementById("html");
		element.className = "attente";
	}
</script>