<!DOCTYPE html>
<html lang="fr">
  <div id="html" class=""></div>

  <head>
    <title>Parfumerie Mireille</title>
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href='{{ url_for("static", filename="mycss8.css") }}'
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="C:/Users/ggpro/Desktop/Parfumerie upgrade process CE/static/mycss8.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
  />

  <body>
    <div class="topOnglets">
      <a class="onglet" href="/suivi/{{user}}" onclick="attente()"
        >Suivi de commandes</a
      >
      <a class="onglet" href="/start/{{user}}" onclick="attente()"
        >Traitements</a
      >
      <a class="onglet" href="/choixCE/{{user}}" onclick="attente()"
        >1. Préparer</a
      >
      <a class="onglet" href="/reliquats/{{user}}" onclick="attente()"
        >2. Reliquats</a
      >
      <a class="onglet" href="/choixLot/{{user}}" onclick="attente()"
        >3. Facturer</a
      >
      <a class="onglet" href="/paiements/{{user}}" onclick="attente()"
        >4. Paiements</a
      >
      <a class="ongletActif" href="/livraison/{{user}}" onclick="attente()"
        >5. Livraison</a
      >
      <a class="onglet" href="/CE/{{user}}" onclick="attente()">CE</a>
      <a class="onglet" href="/logout">
        <button
          class="invisible"
          onclick="attente()"
          type="button"
          data-hover="Se Déconnecter"
          data-active="Se Déconnecter"
        >
          <span
            ><i class="fas fa-user span" style="padding-right: 10px"></i
            >{{session['user']['username']}}</span
          >
        </button>
      </a>
    </div>
    <div align="center" class="topnav">
      <a href="/livraison/{{user}}" onclick="attente()">Choix du CE</a>
      <a href="/visuLivraison/{{user}}" onclick="attente()"
        >Commandes à livrer</a
      >
      <a class="active" href="/histLivraison/{{user}}" onclick="attente()"
        >Historique des livraisons</a
      >
    </div>
    <br /><br /><br /><br />
    <div>
      <table align="center" class="tabHist">
        <th class="thHistLiv">Date</th>
        <th class="thHistLiv">Numéro de CE</th>
        <th class="thHistLiv">Nombre de commandes livrées</th>
        {% for livraison in listLivraison %}
        <tr class="trHistLiv">
          <td>{{livraison["dateLivraison"]}}</td>
          <td>{{livraison["idCE"]}}</td>
          <td>{{livraison["nbCmd"]}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <br />
  </body>
</html>
<script>
  function attente() {
    var element = document.getElementById("html");
    element.className = "attente";
  }
</script>
