<!DOCTYPE html>
<html lang="fr">
<div id="html" class=""></div>

<head>
    <title>Parfumerie Mireille</title>
</head>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="mycss8.css") }}'>
<link rel='stylesheet' type='text/css' href='C:/Users/ggpro/Desktop/Parfumerie upgrade process CE/static/mycss8.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<body>
    <div class="topOnglets fixed-top">
        <a class="ongletActif" href="/suivi/{{user}}" onclick="attente()">Suivi de commandes</a>
        <a class="onglet" href="/start/{{user}}" onclick="attente()">Traitements</a>
        <a class="onglet" href="/choixCE/{{user}}" onclick="attente()">1. Préparer</a>
        <a class="onglet" href="/reliquats/{{user}}" onclick="attente()">2. Reliquats</a>
        <a class="onglet" href="/choixLot/{{user}}" onclick="attente()">3. Facturer</a>
        <a class="onglet" href="/paiements/{{user}}" onclick="attente()">4. Paiements</a>
        <a class="onglet" href="/livraison/{{user}}" onclick="attente()">5. Livraison</a>
        <a class="onglet" href="/CE/{{user}}" onclick="attente()">CE</a>
        <a class="onglet" href="/logout">
            <button class="invisible" onclick="attente()" type="button" data-hover="Se Déconnecter"
                data-active="Se Déconnecter">
                <span><i class="fas fa-user span" style="padding-right:10px"></i>{{session['user']['username']}}</span>
            </button>
        </a>
    </div>
    <div class="glob">
        <div class="left">
            <form action="/suivi/{{user}}" method="POST">
                <input type="hidden" name="filtre" id="filtre" value="filtre">
                <button class="filtre" onclick="attente()">Retirer les filtres</button>
            </form>
        </div>
        <div class="center">
            <form action="/suivi/{{user}}" method="POST" style="display: inline;">
                <button onclick="attente()" {%if ref==None %} class="AllRefSel" {%else%} class="AllRef"
                    {%endif%}>{{listeAll[0]['prenom']}}</button>
            </form>
            {% for liste in listeRef %}
            <form action="/suivi/{{user}}" method="POST" style="display: inline;">
                <input type="hidden" name="ref" id="ref" value="{{liste['id']}}">
                <button value="{{liste['id']}}" onclick="attente()" {% if ref==liste['id'] %} class="Ref2Sel" {% else %}
                    class="Ref2" {%endif%}>{{liste['prenom']}}</button>
            </form>

            {% endfor %}
        </div>
        <div class="right">
            <form action="/addCmd/{{user}}">
                <Button class="addCmd" id="ajoutCd" onclick="attente()"><span>Ajouter une commande</span></Button>
            </form>
        </div>
    </div>
    <table align="center" class="tabSuivi">
        <th class="suprCmd"></th>
        <th class="thSuivi thSuiviPetit">Date</th>
        <th class="thSuivi thPetit">ID</th>
        <th class="thSuivi thSuiviPetit">N°CE</th>
        <th class="thSuivi">Nom/Prénom</th>
        <th class="thSuivi thGG">TOTAL</th>
        <th class="thSuivi thSuiviPetit">Etat</th>
        <tr>
            <form action="/searchSuivi/{{user}}" method="POST" id="searchForm">
                <input type="hidden" name="ref" value="{{ref}}">
                <td></td>
                <td class="tdRechercheG">
                    <table>
                        <tr>
                            <td class="tdDate">du : <input class="inputSuivi inputDate" type="date" name="dateMin"
                                    value="{{dateMin}}" onchange="search()"></td>
                        </tr>
                        <tr>
                            <td class="tdDate">au : <input class="inputSuivi inputDate" type="date" name="dateMax"
                                    value="{{dateMax}}" onchange="search()">
                            <td>
                        </tr>
                    </table>
                <td class="tdRecherche"><input class="inputSuivi inputNum" type="number" placeholder="ID commande"
                        name="idCmd" value="{{idCmd}}" onchange="search()"></td>
                <td class="tdRecherche"><input class="inputSuivi inputNum" type="number" placeholder="N° de CE"
                        name="idCE" value="{{idCE}}" onchange="search()"></td>
                <td class="tdRecherche"><input class="inputSuivi inputNom" type="text" placeholder="Rechercher par nom"
                        name="client" value="{{client}}" onchange="search()"></td>
                <td class="tdRecherche"><input class="inputSuivi thSuiviPetit" type="text" placeholder="Rechercher par adresse mail"
                        name="mail" value="{{mail}}" onchange="search()"></td>
                <td class="tdRechercheD">
                    <select class="selectState" name="etat" onchange="search()">
                        {% if etat=="0" %}
                        <option value="">Tout</option>
                        <option selected value=0>Préparation</option>
                        <option value=1>Facturation</option>
                        <option value=2>Facturé</option>
                        <option value=3>Livré</option>
                        <option value=99>Annulé</option>
                        {%elif etat=="1" %}
                        <option value="">Tout</option>
                        <option value=0>Préparation</option>
                        <option selected value=1>Facturation</option>
                        <option value=2>Facturé</option>
                        <option value=3>Livré</option>
                        <option value=99>Annulé</option>
                        {%elif etat=="2" %}
                        <option value="">Tout</option>
                        <option value=0>Préparation</option>
                        <option value=1>Facturation</option>
                        <option selected value=2>Facturé</option>
                        <option value=3>Livré</option>
                        <option value=99>Annulé</option>
                        {%elif etat=="3" %}
                        <option value="">Tout</option>
                        <option value=0>Préparation</option>
                        <option value=1>Facturation</option>
                        <option value=2>Facturé</option>
                        <option selected value=3>Livré</option>
                        <option value=99>Annulé</option>
                        {%elif etat=="99" %}
                        <option value="">Tout</option>
                        <option value=0>Préparation</option>
                        <option value=1>Facturation</option>
                        <option value=2>Facturé</option>
                        <option value=3>Livré</option>
                        <option selected value=99>Annulé</option>
                        {%else%}
                        <option selected value="">Tout</option>
                        <option value=0>Préparation</option>
                        <option value=1>Facturation</option>
                        <option value=2>Facturé</option>
                        <option value=3>Livré</option>
                        <option value=99>Annulé</option>
                        {%endif%}
                    </select>
                </td>
            </form>
            {% for client in Lclients %}

            <form action="/detailsCmd/{{user}}" method="POST" id="{{client['id_commande']}}">
                <input type="hidden" value="suivi" name="previousPage">
                <input type="hidden" value="{{client['id_commande']}}" name="idCmd">
        <tr class="trSuivi" onclick="details(event,this.form)" id="{{client['id_commande']}}">
            </form>

            <td class="tdButton">
                {%if client['etatCmd']!=99 %}
                <button onclick="Annuler(this)" class="suprCircle"
                    id="{{client['id_commande']}}" name="boutonAnnuler">X</button>
                {%endif%}
            </td>
            <td class="tdSuivi">{{client["date"]}}</td>
            <td class="tdSuivi">{{client["id_commande"]}}</td>
            <td class="tdSuivi">{{client["idCE"]}}</td>
            <td class="tdSuivi">{{client["client"]}}</td>
            <td class="tdSuivi">{{client["total"]}}</td>
            {%if client["etatCmd"]==0%}
            <td>
                <div name="state" class="tdSuivi Prep">Préparation</div>
            </td>
            {%elif client["etatCmd"]==1%}
            <td>
                <div name="state" class="tdSuivi Fact">Facturation</div>
            </td>
            {%elif client["etatCmd"]==2%}
            <td>
                <div name="state" class="tdSuivi Facture">Facturé</div>
            </td>
            {%elif client["etatCmd"]==3%}
            <td>
                <div name="state" class="tdSuivi Livre">Livré</div>
            </td>
            {%else%}
            <td>
                <div name="state" class="tdSuivi AnnulerSuivi">Annulé</div>
            </td>
            {%endif%}
        </tr>

        {% endfor %}
    </table>
    <br>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        const searchForm = document.getElementById("searchForm");
        function search() {
            searchForm.submit();
        }

        function deleteFun(t) {
            var r = confirm("Confirmez-vous la suppression?");
            if (r == true) {
                const idCmd = t.id;
                req = jQuery.ajax({
                    url: '/suprCmd',
                    type: 'POST',
                    data: { idCmd: idCmd }
                });
                $(`[id=${idCmd}]`).children('td').name('state')
                    .animate({ padding: 0 })
                    .wrapInner('<div />')
                    .children()
                    .slideUp(function () { $(this).closest('tr').remove(); });
            }
        }
        function Annuler(t) {
            var answer=prompt("Pourquoi annulez-vous cette commande ?","Justification");
            if (answer!=null && answer!=""){
                const idCmd = t.id;
                req = jQuery.ajax({
                    url: '/annuleCmd',
                    type: 'POST',
                    data: { idCmd: idCmd, answer:answer }
                    });
                window.location.reload();
                };
        }

        function details(e, f) {
            if (e.target.tagName != "BUTTON") {
                const form = e.currentTarget.id;
                document.getElementById(form).submit();
            }
        }
        function attente() {
            var element = document.getElementById("html");
            element.className = "attente";
        }
    </script>
</body>

</html>